body {
    overflow-y: scroll;
    /* Show vertical scrollbar */

}

.p-card {
    padding: 1.25rem;
}

.divContainer {
    position: relative;
}


#add_product_view {
    display: none;
}

#cart_view {
    display: none;
}